---
layout: default
title: 关于我
page-title: aboutMe
home-title: Show you about me.
description:
---

{% include header.html %}
{% include boot.html %}
<main>
    {% include title.html %}
    <ul class="ex-list">
        <li class="fadeInUp animated">
        {% if site.author %}
          <div class="portraits"><img src="{{ site.portraits }}" alt=""></div>
          <span id="yourname">{{ site.name }}</span>
          <span id="yourbio">2016山西省青少年科技创新大赛一等奖、“宋庆龄”发明奖省一等奖<Br>2016西安电子科技大学高校科学营“宣传工作先进个人”，“优秀营员”<Br>   
			2016阳泉市青少年科技创新大赛一等奖<Br>
			2017广播电视台广电传媒公司实习生<Br> 
			2017中国工程机器人创意赛国家二等奖<Br> 
			2017华为公司赞助校搬运小车赛“二等奖”<Br> 
			2017河南省大学生机器人大赛“二等奖”<Br> 
			2018中国教育机器人大赛“灭火与救援”项目国家冠军<Br> 
			2019中国工程机器人大赛暨国际公开赛“中型六旋翼”项目国家亚军<Br> 
			2019全国移动互联网+创新创业大赛全国三等奖<Br> 
			2019河南省“挑战杯”二等奖<Br> 
			2019校“科技之星”，校“张衡杯”特等奖，院“三好学生标兵” </span>
          {% if site.about %}
            <span id="aboutyou">{{ site.aboutyou }}</span>
          {% endif %}
        {% endif %}
        {% if site.SNS %}
          {% for sns-icon in site.SNS-icon %}
            <a href="{{ sns-icon[1] }}" title="{{ sns-icon[0] }}">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-{{ sns-icon[0] }}"></use>
              </svg>
            </a>
          {% endfor%}
        {% endif %}
      </li>
      <li class="fadeInUp animated">
      {% if site.tags.size>0 %}
          {% for tag in site.tags %}
          <a href="tags.html#{{ tag[0] }}" class="tag">{{ tag[0]}}</a>
          {% endfor %}
      {% endif %}
      </li>
    </ul>
</main>
{% include footer.html %}
